@import "../variables.scss";

$number-of-columns: 7;
$table-cell-witdh: calc(100% / $number-of-columns);
$table-cell-height: 8vh;

.calendar {
  min-width: 80vw;
  max-width: 90vw;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .date-picker {
    display: flex;
    flex-direction: column;
  }

  table {
    border-spacing: 4px;
    @include background-opacity($lightblue);
    margin: auto;
    border-radius: 0;
    max-width: 80%;

    tr {
      th {
        font-family: $defaultFont;
        font-size: small;
        text-transform: uppercase;
      }

      td {
        height: $table-cell-height;
        width: $table-cell-witdh;
        border: solid 1px $darkblue;
        border-radius: 0;
        vertical-align: top;
        overflow: hidden;
        padding: 0;
        cursor: pointer;
        position: relative;

        .cell-head {
          height: 2px;
          width: 100%;
          background-color: $darkblue;
        }

        &:hover {
          border: solid 1px $darkblue2;
          .cell-head {
            background-color: $darkblue2;
          }
        }

        &.empty {
          border: none;
          cursor: default;
        }

        .pulses-color {
          display: flex;
          flex-direction: row;

          div {
            width: 1vh;
            height: 1vh;
          }
        }

        p {
          position: absolute;
          top: 0;
          right: 0;
          padding: 5px 10px;
          margin: 0;
          color: $dark;
        }
      }
    }
  }
}
