$purple: #8d53ff;
$pink: #ca6be6;
$white: #f8f8f8;
$dark: #1f1f1f;
$grey: #434343;
$grey2: #636363;
$red: #ff6057;
$yellow: #ffbd2e;
$darkyellow: #dda11f;
$green: #69b758;
$darkgreen: #44594a;
$lightgrey: #c9c9c9;
$lightgrey2: #eeeeee;
$beige: #eed9c4;
$darkbeige: #b99e84;
$brown: #4f3200;
$brown2: #ab6c00;
$darkblue: #323771;
$darkblue2: #595d8d;
$lime: #71fa96;
$lightblue: #41a2fa;

$defaultFont: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

$sideMargin: 10vw;

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}
